body,ul,li,p,h1,h2,h3,h4,h5,h6,span {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
html,body {
    font-family: "¾­µäÏ¸Ô²¼ò","Helvetica Neue","Helvetica","STHeitiSC-Light","Arial",sans-serif;
    height: 100%;
    min-width: 520px;
    /*overflow: hidden;*/
    /*overflow-y: hidden;*/

}

* {
    -webkit-box-sizing: border-box;
@-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#header {
    height: 60px;
    background: rgba(23,24,32,0);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;

    -webkit-transition: background 1.2s ease-in-out;
@-webkit-transition: background 1.2s ease-in-out;
    -moz-transition: background 1.2s ease-in-out;
    -ms-transition: background 1.2s ease-in-out;
    -o-transition: background 1.2s ease-in-out;
    transition: background 1.2s ease-in-out;

}
#header #logo {
    height: 100%;
}
#header #logo a {
    display: block;
    line-height: 60px;
    color: #d1d1d1;
    font-size: 20px;
    text-align: center;
}
#header #logo a:hover {
    text-decoration: none;
}
#header #nav {
    height: 100%;
    float: right;
}
#header #nav li {
    padding: 0;
}
#header #nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;

    -webkit-border-radius: 5px;
@-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    text-align: center;
    font-size: 17px;
    color: #d1d1d1;

    -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
@-webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#header #nav li:last-child a {
    background: #e76278;
    color: #fff;
}
#header #nav li a:hover {
    color: #e44c65;
}
#header #logo a:hover {
    color: #e44c65;
}
#header #nav li:last-child a:hover {
    color: #fff;
    background: #e44c65;
}









.header-btn {
    width: 60px;
    height: 60px;
    background: #e44c65;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    /*position: relative;*/
    z-index: 999;

    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;

    display: block;
    cursor: pointer;


}


@media screen and (min-width: 750px) {
    .header-btn {
        display: none;
    }
}
.header-s {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 998;
    /*margin-top: -60px;*/
    background: rgb(23,24,32);
}

.header-s-con {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: 100%;
}
.header-s-con ul {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
    padding-top: 100px;
}
.header-s-con li {
    width: 100%;
    position: relative;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 22px;
    color: #e0e0e0;
    cursor: pointer;
}
.header-s-con li:hover {
    color: #e44c65;
}
.header-s-con li p {
    position: absolute;
    height: 1px;
    bottom: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0%;
    margin: auto auto;
    background: #e0e0e0;

    -webkit-border-radius: 1px;
@-webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}














.bannerbox {
    width: 100%;
    height: 100%;
    background: rgb(23,24,32);
    position: relative;
}


#banner {
    width: 70%;
    height: 100%;
    opacity: 0;
    -moz-opacity: 0;
    position: relative;
}

#banner .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto auto;
    height: 100%;
}
#banner header {
    height: 50%;
    float: left;
    cursor: pointer;
}
#banner header h2 {

    text-align: center;
    margin-top: 40%;

    font-size: 25px;
    color: #efefef;
    line-height: 50px;

    -webkit-transition: color 0.2s ease-in-out;
@-webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
#banner header h2:hover {
    color: #e44c65;
}

#banner header h4 {

    text-align: center;
    margin-top: -2%;

    font-size: 14px;
    color: #efefef;

    -webkit-transition: color 0.2s ease-in-out;
@-webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
#banner header h4:hover {
    color: #e44c65;
}

#banner header p {
    width: 100%;

    line-height: 30px;
    font-size: 16px;
    text-align: center;
    margin-top: 2%;
    color: #dadada;

    -webkit-transition: color 0.2s ease-in-out;
@-webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
#banner header p:hover {
    color: #e44c65;
}






#banner .image {
    padding: 0;
    display: block;
    height: 30%;
    float: right;
    position: relative;

}
#banner .image:hover {

    -webkit-animation: ani1 2s ease-in-out 0s 1;
@-webkit-animation: ani1 2s ease-in-out 0s 1;
    -o-animation: ani1 2s ease-in-out 0s 1;
    animation: ani1 2s ease-in-out 0s 1;
}
#banner .image img {
    height: 85%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;


    -webkit-border-radius: 50%;
@-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}
.next {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 5;
    bottom: 2%;
    color: #e0e0e0;
    font-size: 30px;
    cursor: pointer;
}
@media screen and (min-width: 760px) {
    #banner .content {
        height: 50%;
    }
    #banner header {
        height: 100%;
    }
    #banner .image {
        height: 100%;
    }
    #banner header h2 {
        margin-top: 18%;
        font-size: 24px;
        line-height: 90px;
    }
    #banner header p {
        line-height: 30px;
        font-size: 12px;
    }
    #banner .image img {
        height: 70%;

    }
    .next {
        font-size: 35px;
    }
}
@media screen and (min-width: 990px) {
    #banner .content {
        height: 50%;
    }
    #banner header {
        height: 100%;
    }
    #banner .image {
        height: 100%;
    }
    #banner header h2 {
        margin-top: 18%;
        font-size: 30px;
        line-height: 90px;
    }
    #banner header p {
        line-height: 30px;
        font-size: 15px;
    }
    #banner .image img {
        height: 80%;

    }
    .next {
        font-size: 40px;
    }
    .phonepic {
        cursor: pointer;
        width: 2%;
        position: absolute;
        left: 0;
        bottom: 0;

    }
    .phonepic img {
        width: 100%;
        opacity: 0.7;
        -moz-opacity: 0.7;
    }
    .webew {
        cursor: pointer;
        width: 10%;
        position: absolute;
        left: 0;
        bottom: 0;
        display: none;
    }
    .webew img {
        width: 100%;
        opacity: 0.7;
        -moz-opacity: 0.7;
    }
}
@media screen and (min-width: 1170px) {
    #banner .content {
        height: 50%;
    }
    #banner header {
        height: 100%;
    }
    #banner .image {
        height: 100%;
    }
    #banner header h2 {
        margin-top: 18%;
        font-size: 38px;
        line-height: 90px;
    }
    #banner header p {
        line-height: 30px;
        font-size: 19px;
    }
    #banner .image img {
        height: 90%;

    }

}


















#floor1 {
    height: 100%;
    padding: 0;
    position: relative;
}
#floor1 h1 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 12%;
    font-size: 2.5em;
    font-weight: 700;
    color: #ebebeb;
    opacity: 0;
    -moz-opacity: 0;
}


#floor1 .image {
    height: 100%;
}
#floor1 .image img {
    width: 100%;
    height: 100%;
}
#floor1 .content {
    position: absolute;
    width: 100%;
    height: 65%;
    border-top: 5px solid #e44c65;
    background: rgb(23,24,32);
    bottom: 0;
    opacity: 0;
    -moz-opacity: 0;
}
#floor1 .content .con {
    padding: 8% 5%;

}
#floor1 .content .con span {
    color: #e44c65;


}
#floor1 .content .con .text1 h2 {
    margin-top: 20px;
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
    line-height: 30px;
}
#floor1 .content .con .text1 p {
    font-size: 1em;
    color: #c4c4c4;
    margin-top: 20px;
}
#floor1 .content .con .text2 p,#floor1 .content .con .text3 p {
    font-size: 1em;
    color: #9b9b9b;
    margin-top: 20px;
}
@media screen and (min-width: 750px) {
    #floor1 h1 {
        font-size: 2em;
    }
    #floor1 .content .con .text1 h2 {
        line-height: 40px;
        font-size: 2.1em;
    }
    #floor1 .content .con .text1 p {
        font-size: 1.2em;
    }
    #floor1 .content .con .text2 p,#floor1 .content .con .text3 p {
        font-size: 1em;
    }
}
@media screen and (min-width: 990px) {
    #floor1 h1 {
        font-size: 3em;
    }
    #floor1 .content .con .text1 h2 {
        line-height: 40px;
        font-size: 2.2em;
    }
    #floor1 .content .con .text1 p {
        font-size: 1.3em;
    }
    #floor1 .content .con .text2 p,#floor1 .content .con .text3 p {
        font-size: 1.2em;
    }
}



















#floor2 {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}
#floor2 .image {
    width: 100%;
    height: 100%;
}
#floor2 .image img {
    width: 100%;
    height: 100%;
}


#floor2 .content {
    width: 100%;
    height: 60%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 5px solid #5480f1;
    background: rgb(23,24,32);
    padding: 7% 5%;
    opacity: 0;
    -moz-opacity: 0;

}
#floor2 .content header h2 {
    text-align: center;
    font-size: 2.2em;
    /*line-height: 150%;*/
    color: #efefef;
}
#floor2 .content header p {
    text-align: center;
    margin-top: 2%;
    font-size: 1.2em;
    font-weight: 100;
    /*line-height: 150%;*/
    color: #e3e3e3;
}
#floor2 .content>p {
    text-align: center;
    margin-top: 3%;
    font-size: 1.1em;
    /*font-weight: 100;*/
    line-height: 150%;
    color: #b6b6b6;
}
#floor2 .content ul {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 50px;
    border: 1px solid #b6b6b6;

    -webkit-border-radius: 5px;
@-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#floor2 .content li {
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    color: #b6b6b6;
    font-size: 1em;
}




.skillbox {
    position: absolute;
    /*height: 100%;*/
    width: 90%;
    /*height: 40%;*/
    left: 5%;
    top: 5%;
    z-index: 100;
    /*border: 1px solid red;*/
}
.sll {
    width: 45%;
    margin-right: 5%;
    float: left;
}

.skillbox .progress {
    height: 10px;
    margin-bottom: 5px;
    background: none;
}
.skillbox .skilltitle {
    color: #d7d7d7;
    font-size: 1em;
}












@media screen and (min-width: 990px) {
    .skillbox {
        position: absolute;
        /*height: 100%;*/
        width: 40%;
        left: 10%;
        top: 10%;
        z-index: 999;
        /*border: 1px solid red;*/
    }
    .sll {
        width: 100%;
        margin-right: 0%;
        float: left;
    }
    .skillbox .progress {
        height: 20px;
        background: none;
    }
    .skillbox .skilltitle {
        color: #d7d7d7;
        font-size: 1.2em;
    }


    #floor2 .content {
        width: 40%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 60%;
        /*right: -1px;*/
        border-top: none;
        border-left: 5px solid #5480f1;
        background: rgb(23,24,32);
        padding: 7% 5%;

    }
    #floor2 .content header h2 {
        text-align: left;
        font-size: 2.5em;
        line-height: 150%;
        color: #efefef;
    }
    #floor2 .content header p {
        text-align: left;
        margin-top: 5%;
        font-size: 1.3em;
        font-weight: 100;
        line-height: 150%;
        color: #e3e3e3;
    }
    #floor2 .content>p {
        text-align: left;
        margin-top: 10%;
        font-size: 1.1em;
        /*font-weight: 100;*/
        line-height: 150%;
        color: #b6b6b6;
    }
    #floor2 .content ul {
        margin: 10% 0 1px 0;
        /*margin-top: 10%;*/
        width: 40%;
        height: 50px;
        border: 1px solid #b6b6b6;

        -webkit-border-radius: 5px;
    @-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    #floor2 .content li {
        width: 100%;
        height: 100%;
        line-height: 50px;
        text-align: center;
        color: #b6b6b6;
        font-size: 1.2em;
    }
}


@media screen and (min-width: 1170px) {
    #floor2 .content {
        width: 40%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 60%;
        /*right: -1px;*/
        border-top: none;
        border-left: 5px solid #5480f1;
        background: rgb(23,24,32);
        padding: 7% 5%;
    }
    #floor2 .content header h2 {
        text-align: left;
        font-size: 2.7em;
        line-height: 150%;
        color: #efefef;
    }
    #floor2 .content header p {
        text-align: left;
        margin-top: 5%;
        font-size: 1.5em;
        font-weight: 100;
        line-height: 150%;
        color: #e3e3e3;
    }
    #floor2 .content>p {
        text-align: left;
        margin-top: 10%;
        font-size: 1.2em;
        /*font-weight: 100;*/
        line-height: 150%;
        color: #b6b6b6;
    }
    #floor2 .content ul {
        margin: 10% 0 1px 0;
        /*margin-top: 10%;*/
        width: 40%;
        height: 50px;
        border: 1px solid #b6b6b6;

        -webkit-border-radius: 5px;
    @-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    #floor2 .content li {
        width: 100%;
        height: 100%;
        line-height: 50px;
        text-align: center;
        color: #b6b6b6;
        font-size: 1.3em;
    }
}




















#floor3 {
    width: 100%;
    height: 100%;
    position: relative;
}
#floor3 .image {
    width: 100%;
    height: 100%;
}
#floor3 .image img {
    width: 100%;
    height: 100%;
}


#floor3 .content {
    width: 100%;
    height: 60%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 5px solid #39c088;
    background: rgb(23,24,32);
    padding: 7% 5%;
    opacity: 0;
    -moz-opacity: 0;
}
#floor3 .content header h2 {
    text-align: center;
    font-size: 2.2em;
    /*line-height: 150%;*/
    color: #efefef;
}
#floor3 .content header p {
    text-align: center;
    margin-top: 2%;
    font-size: 1.2em;
    font-weight: 100;
    /*line-height: 150%;*/
    color: #e3e3e3;
}
#floor3 .content>p {
    text-align: center;
    margin-top: 3%;
    font-size: 1.1em;
    /*font-weight: 100;*/
    line-height: 150%;
    color: #b6b6b6;
}
#floor3 .content ul {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 50px;
    border: 1px solid #b6b6b6;

    -webkit-border-radius: 5px;
@-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#floor3 .content li {
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    color: #b6b6b6;
    font-size: 1em;
}


#floor3 .zhans {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0%;
    right: 0%;
    /*border: 1px solid red;*/
}
#floor3 .zhans .zbox-out {
    width: 100%;
    float: left;
    height: 22%;
    /*padding: 1%;*/
    margin-top: 0%;
    margin-bottom: 1.5%;
    /*border: 2px solid #39c088;*/
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    -moz-opacity: 0;
}
#floor3 .zhans .zbox-inner {
    width: 100%;
    height: 100%;
    position: relative;
    /*background: red;*/
}
#floor3 .zhans .ap1 {
    background: url("../images/gz.png");
    background-position: center top;
    background-repeat: no-repeat;

    -webkit-background-size: 100%;
@-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
#floor3 .zhans .ap2 {
    background: url("../images/tm.png");
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
@-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

#floor3 .zhans .ap3 {
    background: url("../images/sn.png");
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
@-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
#floor3 .zhans .ap4 {
    background: url("../images/xm.png");
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
@-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
#floor3 .zhans .ap5 {
    background: url("../images/ap.png");
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
@-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
#floor3 .zhans .ap6 {
    background: url("../images/pa.png");
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
@-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
#floor3 .zhans .zbox-inner .left {
    width: 0%;
    height: 100%;
    float: left;
    background: rgba(0,0,0,0.8);

}
#floor3 .zhans .zbox-inner .right {
    width: 0%;
    height: 100%;
    float: right;
    background: rgba(0,0,0,0.8);
}
#floor3 .zhans .zbox-inner p {
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 50;
    text-align: center;
    color: #39c088;
    font-size: 1.5em;
    display: none;
    opacity: 1;
    -moz-opacity: 1;
}





@media screen and (min-width: 750px) {
    #floor3 .zhans {
        width: 100%;
        height: 40%;
        position: absolute;
        top: 0%;
        right: 0%;
        /*border: 1px solid red;*/
    }
    #floor3 .zhans .zbox-out {
        width: 50%;
        height: 47%;
        /*padding: 1%;*/
        margin-bottom: 1%;
        /*border: 2px solid #39c088;*/
        overflow: hidden;
        cursor: pointer;
    }
    #floor3 .zhans .zbox-inner {
        width: 100%;
        height: 100%;
        /*background: red;*/
    }
}



@media screen and (min-width: 990px) {
    #floor3 .zhans {
        width: 50%;
        height: 85%;
        position: absolute;
        top: 5%;
        right: 5%;
        /*border: 1px solid red;*/
    }
    #floor3 .zhans .zbox-out {
        width: 45%;
        height: 20%;
        margin-left: 5%;
        /*padding: 1%;*/
        margin-top: 10% ;
        margin-bottom: 0%;

        /*border: 2px solid #39c088;*/
        overflow: hidden;
        cursor: pointer;
    }
    #floor3 .zhans .zbox-inner {
        width: 100%;
        height: 100%;
        /*background: red;*/
    }
    #floor3 .content {
        width: 40%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        /*right: -1px;*/
        border-top: none;
        border-right: 5px solid #39c088;
        background: rgb(23,24,32);
        padding: 7% 5%;
    }
    #floor3 .content header h2 {
        text-align: left;
        font-size: 2.5em;
        line-height: 150%;
        color: #efefef;
    }
    #floor3 .content header p {
        text-align: left;
        margin-top: 5%;
        font-size: 1.3em;
        font-weight: 100;
        line-height: 150%;
        color: #e3e3e3;
    }
    #floor3 .content>p {
        text-align: left;
        margin-top: 10%;
        font-size: 1.1em;
        /*font-weight: 100;*/
        line-height: 150%;
        color: #b6b6b6;
    }
    #floor3 .content ul {
        float: left;
        margin: 10% 0 1px 0;
        /*margin-top: 10%;*/
        width: 40%;
        height: 50px;
        border: 1px solid #b6b6b6;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    @-webkit-border-radius: 5px;
    }
    #floor3 .content li {
        width: 100%;
        height: 100%;
        line-height: 50px;
        text-align: center;
        color: #b6b6b6;
        font-size: 1.2em;
    }
}


@media screen and (min-width: 1170px) {
    #floor3 .zhans {
        width: 50%;
        height: 85%;
        position: absolute;
        top: 5%;
        right: 5%;
        /*border: 1px solid red;*/
    }
    #floor3 .zhans .zbox-out {
        width: 45%;
        height: 20%;
        margin-left: 5%;
        /*padding: 1%;*/
        margin-top: 10% ;
        margin-bottom: 0%;

        /*border: 2px solid #39c088;*/
        overflow: hidden;
        cursor: pointer;
    }

    #floor3 .zhans .zbox-inner {
        width: 100%;
        height: 100%;
        /*background: red;*/
    }
    #floor3 .content {
        width: 40%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        /*right: -1px;*/
        border-top: none;
        border-right: 5px solid #39c088;
        background: rgb(23,24,32);
        padding: 7% 5%;
    }
    #floor3 .content header h2 {
        text-align: left;
        font-size: 2.7em;
        line-height: 150%;
        color: #efefef;
    }
    #floor3 .content header p {
        text-align: left;
        margin-top: 5%;
        font-size: 1.5em;
        font-weight: 100;
        line-height: 150%;
        color: #e3e3e3;
    }
    #floor3 .content>p {
        text-align: left;
        margin-top: 10%;
        font-size: 1.2em;
        /*font-weight: 100;*/
        line-height: 150%;
        color: #b6b6b6;
    }
    #floor3 .content ul {
        float: left;
        margin: 10% 0 1px 0;
        /*margin-top: 10%;*/
        width: 40%;
        height: 50px;
        border: 1px solid #b6b6b6;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    @-webkit-border-radius: 5px;
    }
    #floor3 .content li {
        width: 100%;
        height: 100%;
        line-height: 50px;
        text-align: center;
        color: #b6b6b6;
        font-size: 1.3em;
    }
}











.contact {
    border-top: 2px dashed rgb(181, 143, 15);
    width: 100%;
    height: 100%;
    background: rgb(23,24,32);
}
.contact h2 {
    width: 100%;
    margin-top: 5%;
    padding: 3%;
    color: #e4e4e4;
    text-align: center;
    font-size: 2em;
}
.contact .ct-p {
    width: 80%;
    text-align: center;
    margin-left: 10%;
    color: #c9c9c9;
    font-size: 1.2em;
    margin-bottom: 3%;
}
.contact .text {
    height: 25%;
    /*border: 1px solid red;*/
    margin-left: 16.666667%;
}
.contact .text li {
    width: 100%;
    height: 100%;
    float: left;
}
.contact .text li p {
    height: 50%;
    text-align: center;
    color: #e0e0e0;
}
.contact .text li p:nth-child(1) {
    width: 100%;

    font-size: 5em;
    opacity: 0;
    -moz-opacity: 0;
}
.contact .text li p:nth-child(2) {
    width: 100%;
    margin-top: 0%;
    font-size: 1.3em;
}

@media screen and (min-width: 750px) {
    .contact {
        border-top: 2px dashed rgb(181, 143, 15);
        width: 100%;
        height: 60%;
        background: rgb(23,24,32);
    }
    .contact .text li {
        width: 33.333%;
        height: 100%;
        float: left;
    }
    .contact .text li p {
        height: 50%;
        text-align: center;
        color: #e0e0e0;
    }
    .contact .text li p:nth-child(1) {
        width: 100%;
        font-size: 2.5em;
    }
    .contact .text li p:nth-child(2) {
        width: 100%;
        margin-top: 7%;
        font-size: 1.5em;
    }
}
